# Nombre que se le da
name: CI

# Trigger - El accionador
on:
  push:
    branches:
      - main
  pull_request:
    branches:
        - '**' # Esto activa el job para PRs en CUALQUIER rama

jobs:
  build-test:
    runs-on: ubuntu-latest
    steps:
      - name: Clonar el repositorio
        uses: actions/checkout@v4

      - name: Configurar Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Hacer gradlew ejecutable
        working-directory: ./gimnasioreserva-spring
        run: chmod +x gradlew

      - name: Ejecutar las pruebas
        working-directory: ./gimnasioreserva-spring
        run: ./gradlew test

      - name: Construir
        working-directory: ./gimnasioreserva-spring
        run: ./gradlew build
